.zoom {
		height:220px;
		margin:auto;
		}
.zoom p {
		text-align:center;
		}
.zoom img {
		width:240px;
		height:210px;
		}
		

/*		
.zoom1 {
		height:220px;
		margin:auto;
		}
.zoom1 p {
		text-align:center;
		}*/
.zoom1 img {
		width:50% !important;
		height:48% !important;
		}
		

		