{include_php file=$zCssJs}
  {include_php file=$zHeader}
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            {if $oData.iId==''}Ajout{else}Modification{/if} {$oData.zLibelle}
			<small>&nbsp;</small>
          </div>
        
		  <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
			  <li class="breadcrumb-item"><a href="#">Accueil</a></li>
			  <li class="breadcrumb-item"><a href="#">Tableau de bord</a></li>
			  <li class="breadcrumb-item"><a href="#">RNF Paramètre</a></li>
			  <li class="breadcrumb-item active">Formule</li>
            </ol>
          </div>
        </div>
		
      </div>
	  <div class="row">	
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title"></h3>

					<div class="card-tools">
					</div>
				</div>
			<!------------------------------------------------------------->
			<div class="row">
				<div class="col-xs-12">
						<div class="box box-primary">
								<div class="box-header with-border">
								  <h3 class="box-title">Formulaire</h3>
								</div>

												<div class="panel panel-default ">
														<div class="panel-heading no-collapse">&nbsp<span class="label label-warning">&nbsp;</span></div>
																<div class="box box-primary col-xs-12 col-sm-12 pull-left">
																	<div class="box-header with-border">
																	  <h3 class="box-title">Formulaire</h3>
																	</div>

																	<form method="post" name="formulaireEdit" id="formulaireEdit" onsubmit="return valider();" enctype="multipart/form-data" action="http://localhost/CNFI_BACKOFFICE/slide/save/">
																		  <input type="hidden" id="iId" name="iId" value="4" autocomplete="off"> 
																		  <div class="box-body">
																					<div class="form-group">
																					  <label for="exampleInputPassword1"><b>ENTITE</b></label>
																					  <select id="entite" name="entite">
																							<option value="MEF">MEF</option>
																							<option value="MEN">MEN</option>
																							<option value="CUA">CUA</option>
																							<option value="MEH">MEH</option>
																					  </select>
																					</div>
																					<div class="form-group">
																					  <label for="exampleInputPassword1"><b>Nature de recette</b></label>
																					   <select id="natureRecette" name="entite">
																							<option value="MEF">Recette du patrimoine</option>
																							<option value="MEN">Recette des amandes</option>
																							<option value="CUA">Don et legs</option>
																					  </select>
																					</div>
																					<div class="form-group">
																					  <label for="exampleInputPassword1"><b>Type</b></label>
																						<span class="marge"><input type="radio" name="iType" value="1" checked="checked" class="form-check">&nbsp;&nbsp;Fixe</span>
																						<span class="marge"><input type="radio" name="iType" value="2" class="form-check">&nbsp;&nbsp;forfaitaire</span>
																						<span class="marge"><input type="radio" name="iType" value="3" class="form-check">&nbsp;&nbsp;Formule</span>
																					</div>
																					<!---- -->
																					<div id="change" class="panel panel-default1">	
																						<div id="panelFixe" style="display:block">
																							<div class="row"> 
																								<label for="exampleInputPassword1"><b>Montant * :</b></label>
																								<input type="text" name="montantFixe" id="montantFixe" value="" />
																							</div>
																						</div>
																						<div id="panelForfaitaire" style="display:none">
																							<div class="row"> 
																								<label for="exampleInputPassword1"><b>Montant min* :</b></label>
																								<input type="text" name="montantForfaitaireMin" id="montantForfaitaireMin" value="" />
																								<label for="exampleInputPassword1"><b>Montant max * :</b></label>
																								<input type="text" name="montantForfaitaireMax" id="montantForfaitaireMax" value="" />
																							</div>
																						</div>
																						<div id="panelFormule" style="display:none">
																							<div class="row"> 
																								<span class="marge2"><input type="radio" name="typeChamp" checked="checked" value="1" class="form-typeChamp">&nbsp;&nbsp;Radio</span>
																								<span class="marge2"><input type="radio" name="typeChamp" value="2" class="form-typeChamp">&nbsp;&nbsp;Choix multiple</span>
																								<span class="marge2"><input type="radio" name="typeChamp" value="3" class="form-typeChamp">&nbsp;&nbsp;Boucle</span>
																								<input style="width: 150px;" type="button" name="btnAddChamp" data-toggle="modal" data-target="#modal-xl" class="btn  bg-green form-btnChamp" value="Ajouter un champ" autocomplete="off">
																							</div>
																							<div>
																							</div>
																						</div>
																					</div>
																					<!---- -->
																		  </div>
																		  <div class="box-footer">
																			<input style="width: 150px;" type="submit" name="btnSave" class="btn btn-primary text-blue" value="Enregistrer" autocomplete="off">
																			<a style="width: 150px;" href="http://localhost/CNFI_BACKOFFICE/slide/liste" class="btn btn-primary">Retour</a> 
																		  </div>
																	</form>
																</div>
													</div>
							  </div>
				</div>
			</div>
	  <!------------------------------------------------------------->
	
	</div>
			<!-- /.content -->
			</div>
		</div>
	</div>
	
	</section>

    <!-- Main content -->
			
    <!-- /.content -->
  </div>
  {literal}
<!-- Modal -->

<div class="modal fade" id="modal-xl">
	<div class="modal-dialog modal-xl">
	  <div class="modal-content">
		<div class="modal-header">
		  <h4 class="modal-title">Extra Large Modal</h4>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <p>One fine body&hellip;</p>
		</div>
		<div class="modal-footer justify-content-between">
		  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		  <button type="button" class="btn btn-primary">Save changes</button>
		</div>
	  </div>
	  <!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Modal -->
<style>
.row {
margin-left:15px;
margin-right:15px;
}
</style>
<script type="text/javascript">
  $(document).ready(function() {

		$(".form-check").on("click", function(){
			var iValue = $(this).val();
			switch (iValue)
			{
				case '1' :
					$("#panelFixe").show();
					$("#panelForfaitaire").hide();
					$("#panelFormule").hide();
					break;

				case '2' :
					$("#panelFixe").hide();
					$("#panelForfaitaire").show();
					$("#panelFormule").hide();
					break;

				case '3' :
					$("#panelFixe").hide();
					$("#panelForfaitaire").hide();
					$("#panelFormule").show();
					break;
			
			}
		})

		$(".form-btnChamp").on("click", function(){
			var iValue =  $('input[name=typeChamp]:checked').val()
			$('#myModal').modal('show');
			switch (iValue)
			{
				case '1' :
					
					break;

				case '2' :
					
					break;

				case '3' :
					
					break;
			
			}
		})
	})

 </script>
{/literal}
{include_php file=$zFooter}
<script type="text/javascript" src="{$zBasePath}assets/common/js/vendor/jquery-ui.js"></script>