/* line 1, E:/wamp/www/rohi/scss/agenda.scss */
form .label1 {
  display: block;
  width: 100%;
  font-size: 12px;
  color: #3d423e;
  padding: 0 0 10px;
  line-height: 20px;
  font-weight: bold;
}

/* line 11, E:/wamp/www/rohi/scss/agenda.scss */
form .label2 {
  display: block;
  width: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #3d423e;
  padding: 0 0 10px;
  line-height: 20px;
}

/* line 21, E:/wamp/www/rohi/scss/agenda.scss */
#calendar {
  display: inline-block;
  padding-right: 20px;
}

/* line 25, E:/wamp/www/rohi/scss/agenda.scss */
.fc-unthemed .fc-divider, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
  /* border-color: #ddd; */
}

/* line 29, E:/wamp/www/rohi/scss/agenda.scss */
.fc .fc-axis, .fc-widget-header {
  background: #ECF2F7;
  color: #8090A0;
}

/* line 34, E:/wamp/www/rohi/scss/agenda.scss */
.table-bordered, td, th {
  border-radius: 0 !important;
}

/* line 38, E:/wamp/www/rohi/scss/agenda.scss */
.tab-link span {
  display: inline-block;
  width: 20px;
  /*height: 20px;*/
  background: #f02a2a;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  color: white;
  text-align: center;
  position: relative;
  top: -2px;
  line-height: 18px;
  margin: 0 0 0 5px;
  font-size: 0.8em;
}

/* line 55, E:/wamp/www/rohi/scss/agenda.scss */
.container {
  margin-bottom: 100px;
  line-height: 1.6;
  margin: 0 auto;
}

/*ul.tabs{
	margin: 0px;
	padding: 0px!important;
	list-style: none;
}
ul.tabs li{
	background: none;
	display: inline-block;
	padding: 10px 15px!important;
	cursor: pointer;
	border-radius: 10px 10px 0 0;
	font-size:1.1em!important;
	background: -webkit-gradient(linear,left top,left bottom,from(rgb(211, 224, 204)),to(#a2a7a0));
	color: #3d423e;
}

ul.tabs li.current{
	background: #ededed;
	color:#FFF;
	background: -webkit-gradient(linear,left top,left bottom,from(#5d919c),to(#1d3f46));
}

.tab-content{
	display: none;
	padding: 20px;
	padding-bottom: 50px;
	border: 2px solid #109ab8;
	border-radius: 0 30px 10px 10px;
}*/
/* line 91, E:/wamp/www/rohi/scss/agenda.scss */
.tab-content.current {
  display: block;
}

/* line 95, E:/wamp/www/rohi/scss/agenda.scss */
.btn_close {
  padding: 0px !important;
}

/*.encadre {
	background: #F9F9F9;
    border: 1px solid #bfbfbf;
    padding: 15px;
	text-align:center;
	color:#0088ff;
	font-size:16px;
}*/
/* line 107, E:/wamp/www/rohi/scss/agenda.scss */
/* line 112, E:/wamp/www/rohi/scss/agenda.scss */
.widget-header {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  height: 38px;
  /*background: repeat-x #CE6F9E;
	background-image: -webkit-linear-gradient(to bottom,#598c97 0,#284d55 100%);
    background-image: -o-linear-gradient(to bottom,#598c97 0,#284d55 100%);
	background-image: linear-gradient(to bottom,#598c97 0,#284d55 100%);*/
  background: white url("wood2.jpg") 0 0 repeat-y;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#CE6F9E', GradientType=0);
  color: #669FC7;
  padding-left: 12px;
  /*border-radius: 10px 10px 0px 0px;
	-moz-border-radius:10px 10px 0px 0px;
	-webkit-border-radius:10px 10px 0px 0px;*/
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid white !important;
}

/* line 162, E:/wamp/www/rohi/scss/agenda.scss */
.search-media.cadreRose {
  background-color: #ffb5c4;
}

/* line 166, E:/wamp/www/rohi/scss/agenda.scss */
.arrow_box {
  position: relative;
  background: #88b7d5;
  border: 5px solid #c2e1f5;
}

/* line 171, E:/wamp/www/rohi/scss/agenda.scss */
.arrow_box:after, .arrow_box:before {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

/* line 181, E:/wamp/www/rohi/scss/agenda.scss */
.arrow_box:after {
  border-left-color: #88b7d5;
  border-width: 30px;
  top: 50%;
  margin-top: -30px;
}


/* line 249, E:/wamp/www/rohi/scss/agenda.scss */
.rightBody {
  float: right !important;
}

/* line 253, E:/wamp/www/rohi/scss/agenda.scss */
.media-body11 .content {
  padding: 5px 3px 3px 5px;
}

/* line 257, E:/wamp/www/rohi/scss/agenda.scss */
.media-body11 .content1 {
  padding: 5px 3px 3px 13px;
}

/* line 261, E:/wamp/www/rohi/scss/agenda.scss */
.calendarDate {
  float: left;
  width: 30%;
  height: 100%;
  background-color: green;
}

/* line 268, E:/wamp/www/rohi/scss/agenda.scss */
.search-media2 {
  padding: 12px 12px 12px 90px;
  background-color: #dbdbde;
}

/* line 273, E:/wamp/www/rohi/scss/agenda.scss */
.search-media:hover {
  border-color: #75A8CE;
  z-index: 1;
}

/* line 278, E:/wamp/www/rohi/scss/agenda.scss */
.search-media .search-actions {
  position: relative;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 20%;
  min-width: 100px;
  max-width: 150px;
  padding: 6px 9px;
}



/* line 298, E:/wamp/www/rohi/scss/agenda.scss */
#zavatra {
  /*background-image: url("file:///C:/Users/Tojo%20Micha%C3%ABl/Desktop/virginia-pine.jpg");
    background-position: left top;
    background-repeat: repeat;
    background-size:100% ;*/
  background: white url("wood2.jpg") 0 0 repeat-y;
  min-height: 175px !important;
}

/* line 341, E:/wamp/www/rohi/scss/agenda.scss */
.calendar1 {
  bottom: 33px !important;
  left: 25px !important;
}

/* line 348, E:/wamp/www/rohi/scss/agenda.scss */
.tiret {
  padding-right: 12px;
  color: red !important;
  margin-top: 4px !important;
  margin-right: 11px !important;
}


#innerContent h4 {
  font-size: 1.1em;
  padding-bottom: 4px;
  padding-top: 0;
  color: white;
}

/* line 443, E:/wamp/www/rohi/scss/agenda.scss */
#rightContent h4 {
  font-size: 1.4em;
  padding-bottom: 4px;
  padding-top: 0;
  color: white;
}

/* line 450, E:/wamp/www/rohi/scss/agenda.scss */
.media-heading {
  padding-bottom: 0px !important;
}

/* line 455, E:/wamp/www/rohi/scss/agenda.scss */
.media-heading .blue {
  /*color:#4a9db3!important ; */
  color: white !important;
}

/* line 460, E:/wamp/www/rohi/scss/agenda.scss */
.media-heading .blue1 {
  font-style: italic;
  color: #154973 !important;
}

/* line 465, E:/wamp/www/rohi/scss/agenda.scss */
.autreP {
  color: #242525 !important;
}

/* line 469, E:/wamp/www/rohi/scss/agenda.scss */
.lastAgenda {
  border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
}
/* line 475, E:/wamp/www/rohi/scss/agenda.scss */
.AddEvent {
  float: right;
  top: 8px;
  right: 0px;
  position: absolute;
  color: #000;
}

/* line 483, E:/wamp/www/rohi/scss/agenda.scss */
.delEvent {
  float: right;
  top: 6px;
  right: 18px;
  position: absolute;
  color: #000;
}

/* line 491, E:/wamp/www/rohi/scss/agenda.scss */
.flecheEvent {
  float: right;
  top: 3px;
  right: 15px;
  position: absolute;
  color: #000;
}

/* line 500, E:/wamp/www/rohi/scss/agenda.scss */
.showCalendar {
  float: right;
  top: 8px;
  left: 0px;
  position: absolute;
  color: #000;
}

/* line 508, E:/wamp/www/rohi/scss/agenda.scss */
.showCommuniquer {
  float: right;
  top: 8px;
  left: 0px;
  position: absolute;
  color: #000;
}

/* line 516, E:/wamp/www/rohi/scss/agenda.scss */
.smaller {
  font-size: 1.8em;
  text-transform: uppercase;
  padding-top: 15px !important;
  padding-left: 25px;
  color: white;
  /*border-bottom: 3px solid white!important;*/
  margin-right: 10px;
}


/* line 544, E:/wamp/www/rohi/scss/agenda.scss */
.cadreRose.delai {
  background: #ffe3e9 !important;
}

/* line 548, E:/wamp/www/rohi/scss/agenda.scss */
.cadreRose.delai p {
  color: #e70bad !important;
}

/* line 552, E:/wamp/www/rohi/scss/agenda.scss */
.cadreBleu.delai {
  background: #839fed !important;
  color: white !important;
}

/* line 557, E:/wamp/www/rohi/scss/agenda.scss */
.cadreBleu.delai p {
  color: white !important;
}

/* line 561, E:/wamp/www/rohi/scss/agenda.scss */
.cadreViolet.delai {
  background: #ffc1fd !important;
}

/* line 565, E:/wamp/www/rohi/scss/agenda.scss */
.cadreViolet.delai p {
  color: #9b6892 !important;
}

/*# sourceMappingURL=../css/agenda.map */