/*color #b38967*/
.stickymenu {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index:99990;

}
.stickymenu ul {
    width: 70px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.stickymenu li {
    background: #b38967;
    border: 1px solid #ffffff;
    border-top: none;
    float: left;
    /*overflow: hidden;*/
}
.stickymenu li:first-child {
    border-top: 1px solid #ffffff;
    border-top-left-radius: 5px;
}
.stickymenu li:last-child{
    border-bottom-left-radius: 5px;
}
.stickymenu li a {
    display: block;
    height:60px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    color: #ffffff;
    background: #b38967;
    position: relative;
    margin: 0;
    padding: 0;
}

.stickymenu li a:before {
    content: attr(title);
    display: block;
    position:absolute ;
    top: 10px;
    right: 101%;
    background: #000000;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    display: none;
}
.stickymenu li:hover a {
    position: relative;
    opacity: 0.6;
}
.stickymenu li:hover a:before {
    display: block;
}
.stickymenu li a i {
    font-size: 25px !important;
    /*line-height: 50px;*/
    margin: 10px 0 5px 0;
    display: block !important;
}