
/***********************
	  LAYOUT
************************/
#wrap {
	background: #FFF;
	width: 80%; 
	height: 100%;
	margin: 0 auto;	
	text-align: left;
}

#content-wrap {
	/*clear: both;*/
	margin: 0; padding: 0;	
	background: #FFF;
}

/* header */
#header {
	position: relative;
	height: 85px;	
	/*background: #000 url(headerbg.gif) repeat-x 0% 100%;	*/
}

#header h1#logo {
	position: absolute;
	margin: 0; padding: 0;
	font: bolder 4.1em 'Trebuchet MS', Arial, Sans-serif;
	letter-spacing: -2px;
	top: 0; 
}

#header h2#slogan {
	position: absolute;	 
	top:37px; 
	color: #666666;
	text-indent: 0px;
	font: bold 11px Tahoma, 'trebuchet MS', Sans-serif; 
	text-transform: none;
	margin-left: 0;
}
#header form.searchform {
	position: absolute;
	top: 0; right: -12px;	
}

/* Footer */
#footer { 
	clear: both; 
	color: #FFF; 
	background: #A9BAC3; 
	border-top: 5px solid #568EB6;
	margin: 0; padding: 0; 
	height: 50px;	  
	font-size: 95%;		
}
#footer a { 
	text-decoration: none; 
	font-weight: bold;	
	color: #FFF;
}
#footer .footer-left{
	float: left;
	width: 65%;
}
#footer .footer-right{
	float: right;
	width: 30%;
}

/* alignment classes */
.float-left  { float: left; }
.float-right {	float: right; }
.align-left  {	text-align: left; }
.align-right {	text-align: right; }

/* additional classes */
.clear { clear: both; }
.green {	color: green; }
/*.green {	color: #9EC630; }*/
.gray  {	color: #BFBFBF; }