@charset "utf-8";


@font-face {
    font-family: "Lato";
    src: url("../../fonts/lato-regular.ttf") format("truetype"), url("../../fonts/lato-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lato-Bold";
    src: url("../../fonts/lato-bold.ttf") format("truetype"), url("../../fonts/lato-bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:"Roboto-Regular";
    src: url("../../fonts/Roboto-Regular.eot?") format("eot"),url("../../fonts/Roboto-Regular.woff") format("woff"),url("../../fonts/Roboto-Regular.ttf") format("truetype"),url("../../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg"),url("../../fonts/Roboto-Regular.otf");font-weight:normal;font-style:normal;}
@font-face {font-family:"Roboto-Light";src:url("../../fonts/Roboto-Light.eot?") format("eot"),url("../../fonts/Roboto-Light.woff") format("woff"),url("../../fonts/Roboto-Light.ttf") format("truetype"),url("../../fonts/Roboto-Light.svg#Roboto-Light") format("svg"),url("../../fonts/Roboto-Light.otf");font-weight:normal;font-style:normal;}
@font-face {font-family:"Roboto-Medium";src:url("../../fonts/Roboto-Regular.eot?") format("eot"),url("../../fonts/Roboto-Regular.woff") format("woff"),url("../../fonts/Roboto-Regular.ttf") format("truetype"),url("../../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg"),url("../../fonts/Roboto-Regular.otf");font-weight:normal;font-style:normal;}
@font-face {font-family:"Roboto-Bold";src:url("../../fonts/Roboto-Bold.eot") format("eot"),url("../../fonts/Roboto-Bold.woff") format("woff"),url("../../fonts/Roboto-Bold.ttf") format("truetype"),url("../../fonts/Roboto-Bold.svg") format("svg"),url("../../fonts/Roboto-Bold.otf");font-weight:normal;font-style:normal; background:url(../../fonts/Roboto-Bold.ttf)}
@font-face {font-family:"RobotoCondensed-Regular";src:url("../../fonts/RobotoCondensed-Regular.eot?") format("eot"),url("../../fonts/RobotoCondensed-Regular.woff") format("woff"),url("../../fonts/RobotoCondensed-Regular.ttf") format("truetype"),url("../../fonts/RobotoCondensed-Regular") format("svg"),url("../../fonts/RobotoCondensed-Regular");font-weight:normal;font-style:normal;}
@font-face {font-family:"RobotoCondensed-Bold";src:url("../../fonts/RobotoCondensed-Bold.eot?") format("eot"),url("../../fonts/RobotoCondensed-Bold.woff") format("woff"),url("../../fonts/RobotoCondensed-Bold.ttf") format("truetype"),url("../../fonts/RobotoCondensed-Bold") format("svg"),url("../../fonts/RobotoCondensed-Bold");font-weight:normal;font-style:normal;}
@font-face {font-family:"Roboto-Black";src:url("../../fonts/Roboto-Black.eot?") format("eot"),url("../../fonts/Roboto-Black.woff") format("woff"),url("../../fonts/Roboto-Black.ttf") format("truetype"),url("../../fonts/Roboto-Black") format("svg"),url("../../fonts/Roboto-Black");font-weight:normal;font-style:normal;}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 0.63em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fbfbfb;
    /*color: #747474;*/
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    text-decoration: none;
}
/* eof: Global Reset */

/* sof: clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
/* eof: clearfix */

/*
#mainHeader {
    height: 290px;
    background: url(headerBg.jpg) center center no-repeat;
    background-size: cover;
}

#mainHeaderTop {
    text-align: center;
    padding: 35px 0 0;
    height: 165px;
}

#mainHeaderTop .logo {
    display: inline-block;
    vertical-align: middle;
}

#mainHeaderTop .logo > div {
    width: 104px;
    height: 104px;
    -webkit-border-radius: 104px;
    -moz-border-radius: 104px;
    -o-border-radius: 104px;
    border-radius: 104px;
    border: 14px solid rgba(255, 255, 255, 0.2);
    margin: 0;
    overflow: hidden;
}

#mainHeaderTop .logo > div span {
    width: 104px;
    height: 104px;
    background: white;
    display: block;
    text-align: center;
}

#mainHeaderTop .logo > div span img {
    width: 100%;
}

#mainHeaderTop .info {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    */
/*width: 460px;*//*

    padding: 0 30px;
}

#mainHeaderTop .info h1 {
    font-family: 'Lato-Bold', Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.8em;
    text-transform: uppercase;
    padding: 0 0 15px;
}

#mainHeaderTop .info hr {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 216px;
    display: block;
    margin: 0;
}

#mainHeaderTop .info p {
    color: white;
    font-size: 1.3em;
    line-height: 1.3em;
    font-weight: 500;
    padding: 10px 0 0;
}

#mainHeaderBottom {
    background: rgba(255, 255, 255, 0.1);
    height: 40px;
    padding: 0 25px;
}

#mainHeaderBottom p {
    float: right;
    font-size: 1.2em;
    */
/*text-transform: uppercase;*//*

    padding: 2px 0 0;
}

#mainHeaderBottom p a {
    color: white;
}

#mainHeaderBottom p span {
    display: inline-block;
    width: 22px;
    height: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -o-border-radius: 22px;
    border-radius: 22px;
    overflow: hidden;
    margin: 0 0 0 10px;
    position: relative;
    top: 7px;
}

#mainHeaderMenu {
    background: white;
    border-bottom: 1px solid #f3f3f3;
    height: 50px;
}

#mainHeaderMenu nav > ul {
    text-align: center;
    height: 50px;
    line-height: 50px;
}

#mainHeaderMenu nav > ul > li {
    display: inline-block;
    font-size: 1.2em;
    text-transform: uppercase;
    height: 20px;
    position: relative;
}

#mainHeaderMenu nav > ul > li > a {
    color: #747474;
    display: block;
    padding: 0 25px;
}

#mainHeaderMenu nav > ul > li > a:hover,
#mainHeaderMenu nav > ul > li.active > a {
    */
/*color: #f10610;*//*

	color: #53D00F;
}

#mainHeaderMenu nav > ul > li a span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #f10610;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    color: white;
    text-align: center;
    position: relative;
    top: -2px;
    line-height: 18px;
    margin: 0 0 0 5px;
    font-size: 0.8em;
}

#mainHeaderMenu nav > ul ul {
    */
/*background: rgba(83, 208, 15, 0.9);*//*

	background: rgba(35, 136, 68, 0.95);
    width: 200px;
    position: absolute;
    left: 50%;
    margin: 0 0 0 -100px;
    text-align: left;
    padding: 15px 0;
    border-top: 2px solid #f10610;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

#mainHeaderMenu nav > ul ul li {
    display: block;
    padding: 10px 15px;
    line-height: 1em;
}

#mainHeaderMenu nav > ul ul li a {
    color: white;
}

#mainHeaderMenu nav > ul ul li a:hover {
    color: #f10610;
}

#mainHeaderMenu nav > ul li:hover ul {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
*/

#mainContent {
    background: white url(mainContentBg.jpg) 260px 0 repeat-y;
    border: 1px solid #f3f3f3;
    margin: 15px;
}

/*

#innerContent {
    margin: 0 0 0 260px;
    padding: 30px 40px;
}

#innerContent h2,
#innerContent h3,
#innerContent h4 {
    text-transform: uppercase;
    */
/*font-family: 'Roboto-Bold', Arial, Helvetica, sans-serif;*//*

    */
/*font-weight: bold;*//*

    padding: 10px 0 20px;
    color: #3d423e;
}

#innerContent h2 {
    font-size: 1.8em;
}

#innerContent h3 {
    font-size: 1.4em;
}

#innerContent h4 {
    font-size: 1.3em;
    padding-bottom: 15px;
    padding-top: 0;
}

#innerContent p {
    font-size: 1.2em;
    line-height: 1.2em;
    padding: 0 0 15px;
}

#innerContent strong {
    font-weight: bold;
}

#innerContent em {
    font-style: italic;
}

#innerContent ul {
    padding: 0 0 15px 12px;
    list-style-type: disc;
}

#innerContent ol {
    padding: 0 0 15px 12px;
    list-style-type: decimal;
}

#innerContent li {
    */
/*font-size: 1.2em;*//*

    padding: 0 0 5px;
}

#innerContent .encadre {
    background: #e3e3e3;
    border: 1px solid #bfbfbf;
    padding: 15px;
}
*/


form .button {
    width: 90%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    /*border: 1px solid #e2e2e2;*/ 
	border: 1px solid #53D00F;
    padding: 10px 0;
    text-indent: 10px;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 12px;
    /*color: #747474;*/
}

form input[type=submit],
form button {
    width: 150px;
    text-transform: uppercase;
    text-align: center;
    text-indent: 0;
    margin: 0 15px 0 0;
}

form .button {
    width: 150px;
    text-transform: uppercase;
    text-align: center;
    text-indent: 0;
    margin: 0 15px 0 0;
}

form select {
    text-indent: 3px;
    /*background: white url(selectBg.jpg) 98.5% center no-repeat;*/
    padding: 5px 0;
}

form input[type=file] {
    background: white url(fileBg.jpg) 98% center no-repeat;
}

form option {
    padding: 5px 10px;
}

form textarea {
    height: 150px;
}

form .help {
    line-height: 1.2em;
    color: #adadad;
    padding-right: 10% !important;
}

form .row {
    padding: 0 0 20px;
}

form .cell {
    width: 50%;
    float: left;
}

form .small {
    width: 25%;
}

form .check label {
    text-transform: none;
    display: inline;
    line-height: 100%;
}

form .check input {
    width: 15px;
    height: 15px;
    margin: 0 10px 0 0;
    position: relative;
    top: 3px;
}

/*

table {
    font-size: 1.2em;
    width: 100%;
    margin: 0 0 30px;
}

th {
    background: #53d00f;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    padding: 15px;
    text-align: left;
}

td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
}
*/

td .action {
    font-size: 15px;
    margin: 0 5px 0 0;
}

td .action i {
    /*color: #747474;*/
}


.pagination {
    list-style: none;
    text-align: center;
}

.pagination li {
    display: inline-block;
    margin: 0 5px;
}

.pagination li a {
    font-size: 1em;
    color: #fff;
}

.pagination li a.num {
    background: #aaa;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 28px;
    border-radius: 20px;
}

/*.pagination li a.active,
.pagination li a.num:hover {
	background: #53D00F;
}*/

.pagination li a:hover i {
    color: #666;
}

.pagination li a i {
    color: #aaa;
}

/*#mainHeaderBottom form {*/
    /*float: right;*/
    /*padding: 6px 15px 0 0;*/
/*}*/

/*#mainHeaderBottom form fieldset {*/
    /*padding: 0;*/
/*}*/

/*#mainHeaderBottom form select {*/
    /*width: 150px;*/
	/*height: 29px;*/
/*}*/
/*

#mainFooter {
    background: #4d4d4d;
}

#mainFooterTop {
    padding: 30px 0;
}

#mainFooterTop ul {
    text-align: center;
    padding: 0 0 40px;
}

#mainFooterTop li {
    display: inline-block;
    padding: 0 15px;
}

#mainFooterTop li a {
    color: white;
    text-transform: uppercase;
    font-size: 1.1em;
}

#mainFooterTop li a:hover {
    color: #dedede;
}

#mainFooterTop .logo {
    width: 80px;
    -webkit-border-radius: 110px;
    -moz-border-radius: 110px;
    -o-border-radius: 110px;
    border-radius: 110px;
    background: white;
    overflow: hidden;
    padding: 15px;
    margin: 0 auto;
}

#mainFooterTop .logo img {
    width: 100%;
}

#mainFooterBottom {
    background: #3b3b3b;
    padding: 15px 0;
}

#mainFooterBottom p {
    font-size: 1.2em;
    text-align: center;
    color: white;
}
*/

/*
.pagination{padding-left:0;border-radius:4px;font-size:1em;}
.pagination>li{display:inline}
.pagination>li>a,.pagination>li>span{position:relative;float:left;padding:6px 12px;margin-left:-1px;line-height:1.42857143;
color:#53d00f;text-decoration:none;background-color:#fff;border:1px solid #ddd;}
.pagination>li:first-child>a,.pagination>li:first-child>span{margin-left:0;border-top-left-radius:4px;border-bottom-left-radius:4px}
.pagination>li:last-child>a,
.pagination>li:last-child>span{border-top-right-radius:4px;border-bottom-right-radius:4px}
.pagination>li>a:hover,.pagination>li>span:hover,.pagination>li>a:focus,.pagination>li>span:focus{color:#2a6496;background-color:#eee;border-color:#ddd}.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus{z-index:2;color:#fff;cursor:default;background-color:#53d00f;border-color:#53d00f}.pagination>.disabled>span,.pagination>.disabled>span:hover,.pagination>.disabled>span:focus,.pagination>.disabled>a,.pagination>.disabled>a:hover,.pagination>.disabled>a:focus{color:#777;cursor:not-allowed;background-color:#fff;border-color:#ddd}.pagination-lg>li>a,.pagination-lg>li>span{padding:10px 16px;font-size:18px}.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span{border-top-left-radius:6px;border-bottom-left-radius:6px}.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span{border-top-right-radius:6px;border-bottom-right-radius:6px}.pagination-sm>li>a,.pagination-sm>li>span{padding:5px 10px;font-size:12px}.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span{border-top-left-radius:3px;border-bottom-left-radius:3px}.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span{border-top-right-radius:3px;border-bottom-right-radius:3px}
*/


